# 1. FURTHER DATA CLEANING

We start by importing all the libraries that are important for us to use.

In [55]:
#importing all the necessary libraries
import pandas as pd 
import csv
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

Using Ayo's concatenated data to further clean it and make it smaller, so that our computers are able to handle the dataset.

In [56]:
DF = pd.read_csv('cleaned_data (1).csv')
DF

C:\Users\User\AppData\Local\Temp\ipykernel_11656\1596694739.py:1: DtypeWarning: Columns (0,2,37,55) have mixed types. Specify dtype option on import or set low_memory=False.
  DF = pd.read_csv('cleaned_data (1).csv')

,accident_index,accident_year_x,accident_reference_x,location_easting_osgr,location_northing_osgr,longitude,latitude,police_force,accident_severity,number_of_vehicles,...,sex_of_driver,age_of_driver,age_band_of_driver,engine_capacity_cc,propulsion_code,age_of_vehicle,generic_make_model,driver_imd_decile,driver_home_area_type,lsoa_of_driver
0,2021010287148,2021,10287148,521508.0,193079.0,-0.246102,51.623425,1,3,3,...,1,19,4,Small Engine cc,1,3,VOLKSWAGEN GOLF,10,1,E01023551
1,2021010287148,2021,10287148,521508.0,193079.0,-0.246102,51.623425,1,3,3,...,3,34,12,Small Engine cc,1,2,BMW 1 SERIES,99,0,-1
2,2021010287148,2021,10287148,521508.0,193079.0,-0.246102,51.623425,1,3,3,...,3,34,12,Small Engine cc,3,1,SMART FORTWO,99,0,-1
3,2021010287149,2021,10287149,535379.0,180783.0,-0.050574,51.509767,1,2,2,...,1,32,6,Large Engine cc,2,11,AUDI Q7,99,0,-1
4,2021010287149,2021,10287149,535379.0,180783.0,-0.050574,51.509767,1,2,2,...,1,21,5,Medium Engine cc,1,11,VAUXHALL ASTRA,3,1,E01004202
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155413,2021991047985,2021,991047985,258164.0,666476.0,-4.268324,55.870508,99,3,2,...,1,32,6,Medium Engine cc,8,4,TOYOTA AURIS,1,1,-1
155414,2021991047985,2021,991047985,258164.0,666476.0,-4.268324,55.870508,99,3,2,...,1,51,8,Medium Engine cc,2,12,VAUXHALL INSIGNIA,4,1,-1
155415,2021991048010,2021,991048010,398935.0,866988.0,-2.019534,57.692707,99,2,2,...,1,32,6,Large Engine cc,2,18,BMW X5,3,1,-1
155416,2021991048010,2021,991048010,398935.0,866988.0,-2.019534,57.692707,99,2,2,...,3,34,12,Small Engine cc,2,3,RENAULT CAPTUR,99,0,-1
155417,2021991048011,2021,991048011,344154.0,1010868.0,-2.973248,58.981288,99,3,1,...,1,64,9,Small Engine cc,1,2,MAZDA 2,99,0,-1

We have 155,418 rows by 81 columns so far, and we notices that while the dataset is good.. it is still big. Our computers can't handle it.

Viewing the rows, so see which ones we will need to drop. The columns irrelevant to our analysis will not be kept.

In [ ]:
DF.info()

Dropping the columns in the dataset relating to the vehicle data that we do not need.

In [57]:
DF = DF.drop(columns=['accident_year','towing_and_articulation', 'vehicle_manoeuvre', 'vehicle_direction_from', 'vehicle_direction_to', 
                        'vehicle_location_restricted_lane', 'skidding_and_overturning', 'hit_object_in_carriageway', 'vehicle_leaving_carriageway', 
                        'hit_object_off_carriageway', 'first_point_of_impact', 'vehicle_left_hand_drive', 'driver_imd_decile', 'driver_home_area_type', 'lsoa_of_driver'])
DF

,accident_index,accident_year_x,accident_reference_x,location_easting_osgr,location_northing_osgr,longitude,latitude,police_force,accident_severity,number_of_vehicles,...,vehicle_type,junction_location,journey_purpose_of_driver,sex_of_driver,age_of_driver,age_band_of_driver,engine_capacity_cc,propulsion_code,age_of_vehicle,generic_make_model
0,2021010287148,2021,10287148,521508.0,193079.0,-0.246102,51.623425,1,3,3,...,9,1,6,1,19,4,Small Engine cc,1,3,VOLKSWAGEN GOLF
1,2021010287148,2021,10287148,521508.0,193079.0,-0.246102,51.623425,1,3,3,...,9,1,6,3,34,12,Small Engine cc,1,2,BMW 1 SERIES
2,2021010287148,2021,10287148,521508.0,193079.0,-0.246102,51.623425,1,3,3,...,9,1,6,3,34,12,Small Engine cc,3,1,SMART FORTWO
3,2021010287149,2021,10287149,535379.0,180783.0,-0.050574,51.509767,1,2,2,...,9,8,6,1,32,6,Large Engine cc,2,11,AUDI Q7
4,2021010287149,2021,10287149,535379.0,180783.0,-0.050574,51.509767,1,2,2,...,9,1,6,1,21,5,Medium Engine cc,1,11,VAUXHALL ASTRA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155413,2021991047985,2021,991047985,258164.0,666476.0,-4.268324,55.870508,99,3,2,...,9,1,1,1,32,6,Medium Engine cc,8,4,TOYOTA AURIS
155414,2021991047985,2021,991047985,258164.0,666476.0,-4.268324,55.870508,99,3,2,...,9,2,5,1,51,8,Medium Engine cc,2,12,VAUXHALL INSIGNIA
155415,2021991048010,2021,991048010,398935.0,866988.0,-2.019534,57.692707,99,2,2,...,9,0,6,1,32,6,Large Engine cc,2,18,BMW X5
155416,2021991048010,2021,991048010,398935.0,866988.0,-2.019534,57.692707,99,2,2,...,9,0,6,3,34,12,Small Engine cc,2,3,RENAULT CAPTUR
155417,2021991048011,2021,991048011,344154.0,1010868.0,-2.973248,58.981288,99,3,1,...,9,0,5,1,64,9,Small Engine cc,1,2,MAZDA 2

Dropping all the columns related to the casualty data that we do not need.

In [58]:
DF = DF.drop(columns=['pedestrian_location', 'pedestrian_movement', 'car_passenger', 'bus_or_coach_passenger',
                        'pedestrian_road_maintenance_worker','casualty_type','casualty_imd_decile', 'casualty_home_area_type'])
DF

,accident_index,accident_year_x,accident_reference_x,location_easting_osgr,location_northing_osgr,longitude,latitude,police_force,accident_severity,number_of_vehicles,...,vehicle_type,junction_location,journey_purpose_of_driver,sex_of_driver,age_of_driver,age_band_of_driver,engine_capacity_cc,propulsion_code,age_of_vehicle,generic_make_model
0,2021010287148,2021,10287148,521508.0,193079.0,-0.246102,51.623425,1,3,3,...,9,1,6,1,19,4,Small Engine cc,1,3,VOLKSWAGEN GOLF
1,2021010287148,2021,10287148,521508.0,193079.0,-0.246102,51.623425,1,3,3,...,9,1,6,3,34,12,Small Engine cc,1,2,BMW 1 SERIES
2,2021010287148,2021,10287148,521508.0,193079.0,-0.246102,51.623425,1,3,3,...,9,1,6,3,34,12,Small Engine cc,3,1,SMART FORTWO
3,2021010287149,2021,10287149,535379.0,180783.0,-0.050574,51.509767,1,2,2,...,9,8,6,1,32,6,Large Engine cc,2,11,AUDI Q7
4,2021010287149,2021,10287149,535379.0,180783.0,-0.050574,51.509767,1,2,2,...,9,1,6,1,21,5,Medium Engine cc,1,11,VAUXHALL ASTRA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155413,2021991047985,2021,991047985,258164.0,666476.0,-4.268324,55.870508,99,3,2,...,9,1,1,1,32,6,Medium Engine cc,8,4,TOYOTA AURIS
155414,2021991047985,2021,991047985,258164.0,666476.0,-4.268324,55.870508,99,3,2,...,9,2,5,1,51,8,Medium Engine cc,2,12,VAUXHALL INSIGNIA
155415,2021991048010,2021,991048010,398935.0,866988.0,-2.019534,57.692707,99,2,2,...,9,0,6,1,32,6,Large Engine cc,2,18,BMW X5
155416,2021991048010,2021,991048010,398935.0,866988.0,-2.019534,57.692707,99,2,2,...,9,0,6,3,34,12,Small Engine cc,2,3,RENAULT CAPTUR
155417,2021991048011,2021,991048011,344154.0,1010868.0,-2.973248,58.981288,99,3,1,...,9,0,5,1,64,9,Small Engine cc,1,2,MAZDA 2

Dropping all the columns related to the accident data that we do not need.

In [59]:
DF = DF.drop(columns=['local_authority_district', 'local_authority_highway', 'first_road_number',
'junction_control', 'second_road_class', 'second_road_number', 'pedestrian_crossing_human_control',
'pedestrian_crossing_physical_facilities', 'special_conditions_at_site', 'carriageway_hazards', 'trunk_road_flag',
'longitude', 'latitude', 'junction_detail', 'location_easting_osgr','location_northing_osgr'])

DF

,accident_index,accident_year_x,accident_reference_x,police_force,accident_severity,number_of_vehicles,number_of_casualties,date,day_of_week,time,...,vehicle_type,junction_location,journey_purpose_of_driver,sex_of_driver,age_of_driver,age_band_of_driver,engine_capacity_cc,propulsion_code,age_of_vehicle,generic_make_model
0,2021010287148,2021,10287148,1,3,3,1,01/01/2021,6,02:05,...,9,1,6,1,19,4,Small Engine cc,1,3,VOLKSWAGEN GOLF
1,2021010287148,2021,10287148,1,3,3,1,01/01/2021,6,02:05,...,9,1,6,3,34,12,Small Engine cc,1,2,BMW 1 SERIES
2,2021010287148,2021,10287148,1,3,3,1,01/01/2021,6,02:05,...,9,1,6,3,34,12,Small Engine cc,3,1,SMART FORTWO
3,2021010287149,2021,10287149,1,2,2,3,01/01/2021,6,03:30,...,9,8,6,1,32,6,Large Engine cc,2,11,AUDI Q7
4,2021010287149,2021,10287149,1,2,2,3,01/01/2021,6,03:30,...,9,1,6,1,21,5,Medium Engine cc,1,11,VAUXHALL ASTRA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155413,2021991047985,2021,991047985,99,3,2,2,22/05/2021,7,21:00,...,9,1,1,1,32,6,Medium Engine cc,8,4,TOYOTA AURIS
155414,2021991047985,2021,991047985,99,3,2,2,22/05/2021,7,21:00,...,9,2,5,1,51,8,Medium Engine cc,2,12,VAUXHALL INSIGNIA
155415,2021991048010,2021,991048010,99,2,2,1,02/05/2021,1,20:00,...,9,0,6,1,32,6,Large Engine cc,2,18,BMW X5
155416,2021991048010,2021,991048010,99,2,2,1,02/05/2021,1,20:00,...,9,0,6,3,34,12,Small Engine cc,2,3,RENAULT CAPTUR
155417,2021991048011,2021,991048011,99,3,1,1,22/05/2021,7,09:55,...,9,0,5,1,64,9,Small Engine cc,1,2,MAZDA 2

We are now down to 42 columns from 81!

Now that we dropped the columns we do not need, we should look at the rows.

Let's drop all the columns that have missing data in them! We will start with the ones related to the accident dataframe. Whilst doing this, we thought about what columns we really need to have no missing or unknown data.

In [61]:
dv = [-1]
# -1 is unknown, 9 is unknown (self-reported)

DF = DF[DF.road_surface_conditions.isin(dv) == False]

In [ ]:
#dv = [91, 92, 93, 94, 95, 96, 97, 98, 99]
# Thes categories were discontinued in 2019, so we do not need them in our analysis if they show up.

#DF = DF[DF.police_force.isin(dv) == False]

In [60]:
dv = [-1, 99]
DF = DF[DF.speed_limit.isin(dv) == False]

In [62]:
dv = [-1]
DF = DF[DF.weather_conditions.isin(dv) == False]

In [63]:
DF = DF[DF.first_road_class !=  6]

DF = DF[DF.light_conditions !=  -1]

DF = DF[DF.urban_or_rural_area !=  -1]

In [ ]:
#counts = DF['local_authority_ons_district'].value_counts()

#remove = counts[counts <= 100].index
#DF = DF[~DF.local_authority_ons_district.isin(remove)]

Now we look at all the columns related to the casualty data, and we will drop anything with a missing value. These columns we need to have good data for!

In [64]:
DF = DF[DF.age_of_casualty !=  -1]

DF = DF[DF.age_band_of_casualty !=  -1]

In [65]:
dv = [-1, 9]
DF = DF[DF.sex_of_casualty.isin(dv) ==  False]

Lastly, the columns related to the vehicle dataset. We want to remove all values that have a count less than 100, in order to cut down the rows in our dataset. It is still quite big.

In [66]:
dv = [-1]
DF = DF[DF.junction_location.isin(dv) ==  False]

In [67]:
dv = [-1]
# 90, 99, 103, 104, 105, 106, 108, 109, 110, 113
DF = DF[DF.vehicle_type.isin(dv) ==  False]

In [68]:
dv = [-1]
DF = DF[DF.journey_purpose_of_driver.isin(dv) ==  False]

In [69]:
dv = [-1, 3]
DF = DF[DF.sex_of_driver.isin(dv) ==  False]

In [70]:
DF = DF[DF.age_of_driver !=  -1]

DF = DF[DF.engine_capacity_cc !=  -1]

DF = DF[DF.generic_make_model !=  -1]

DF = DF[DF.propulsion_code !=  0]

Let's check our dataframe so far. It seems that we are down to 67,933 after removing some missing values.

In [71]:
DF

,accident_index,accident_year_x,accident_reference_x,police_force,accident_severity,number_of_vehicles,number_of_casualties,date,day_of_week,time,...,vehicle_type,junction_location,journey_purpose_of_driver,sex_of_driver,age_of_driver,age_band_of_driver,engine_capacity_cc,propulsion_code,age_of_vehicle,generic_make_model
3,2021010287149,2021,10287149,1,2,2,3,01/01/2021,6,03:30,...,9,8,6,1,32,6,Large Engine cc,2,11,AUDI Q7
4,2021010287149,2021,10287149,1,2,2,3,01/01/2021,6,03:30,...,9,1,6,1,21,5,Medium Engine cc,1,11,VAUXHALL ASTRA
5,2021010287149,2021,10287149,1,2,2,3,01/01/2021,6,03:30,...,9,8,6,1,32,6,Large Engine cc,2,11,AUDI Q7
6,2021010287149,2021,10287149,1,2,2,3,01/01/2021,6,03:30,...,9,1,6,1,21,5,Medium Engine cc,1,11,VAUXHALL ASTRA
7,2021010287149,2021,10287149,1,2,2,3,01/01/2021,6,03:30,...,9,8,6,1,32,6,Large Engine cc,2,11,AUDI Q7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155405,2021991047914,2021,991047914,99,2,2,3,21/05/2021,6,19:01,...,9,0,5,2,34,6,Medium Engine cc,2,17,VAUXHALL ASTRA
155406,2021991047914,2021,991047914,99,2,2,3,21/05/2021,6,19:01,...,8,0,1,1,55,8,Large Engine cc,2,6,MERCEDES E CLASS
155407,2021991047914,2021,991047914,99,2,2,3,21/05/2021,6,19:01,...,9,0,5,2,34,6,Medium Engine cc,2,17,VAUXHALL ASTRA
155408,2021991047914,2021,991047914,99,2,2,3,21/05/2021,6,19:01,...,8,0,1,1,55,8,Large Engine cc,2,6,MERCEDES E CLASS
155410,2021991047981,2021,991047981,99,3,1,1,22/05/2021,7,22:15,...,9,0,5,1,33,6,Small Engine cc,1,14,MITSUBISHI COLT

In [72]:
DF.to_csv('new_combined_cleaned_data.csv')

### The steps after this are reserved for when we are finished with the project, as we found that trying to analyse things with the labels changed affects our correlation analysis.

In [ ]:
# # Vehicle type
# def vehicle_type_func(vehicle):
#     if vehicle == 1:
#         return "Pedal cycle"
#     if vehicle == 2:
#         return "Motorcycle (<50 CC)"
#     if vehicle == 3:
#         return "Motorcycle (50 CC > N < 125 CC)"
#     if vehicle == 4:
#         return "Motorcycle (125 CC > N < 500 CC)"
#     if vehicle == 5:
#         return "Motorcycle (500 CC>)"
#     if vehicle == 8:
#         return "Taxi/Private hire car"
#     if vehicle == 9:
#         return "Car"
#     if vehicle == 10:
#         return "Minibus"
#     if vehicle == 11:
#         return "Bus or coach"
#     if vehicle == 17:
#         return "Agricultural vehicle"
#     if vehicle == 19:
#         return "Van (< 3.5T)"
#     if vehicle == 20:
#         return "Goods vehicle over 3.5T and under 7.5T"
#     if vehicle == 21:
#         return "Goods vehicle over 7.5T"
#     if vehicle == 97:
#         return "Motorcycle - unknown CC"
#     else:
#         return "Unknown"


# DF['vehicle_type'] = DF['vehicle_type'].apply(vehicle_type_func)
# DF

In [ ]:
# #Junction location
# def junction_location_func(location):
#     if location == 0:
#         return "Not at or within 20 metres of junction"
#     if location == 1:
#         return "Approaching junction or waiting/parked at junction approach"
#     if location == 2:
#         return "Cleared junction or waiting/parked at junction exit"
#     if location == 3:
#         return "Leaving roundabout"
#     if location == 4:
#         return "Entering roundabout"
#     if location == 5:
#         return "Leaving main road"
#     if location == 6:
#         return "Entering main road"
#     if location == 7:
#         return "Entering from slip road"
#     if location == 8:
#         return "Mid Junction - on roundabout or on main road"
#     else:
#         return "Unknown"


# DF['junction_location'] = DF['junction_location'].apply(junction_location_func)

In [ ]:
# # Purpose of journey
# def journey_purpose(purpose):
#     if purpose == 1:
#         return "Journey as part of work"
#     if purpose == 2:
#         return "Work commute"
#     if purpose == 3:
#         return "Taking pupil to/from school"
#     if purpose == 4:
#         return "Pupil riding to/from school"
#     else:
#         return "Unknown"


# DF['journey_purpose_of_driver'] = DF['journey_purpose_of_driver'].apply(journey_purpose)

In [ ]:
# # Sex of driver

# def driver_sex(gender):
#     if gender == 1:
#         return "Male"
#     if gender == 2:
#         return "Female"
#     else:
#         return "Unknown"


# DF['sex_of_driver'] = DF['sex_of_driver'].apply(driver_sex)

In [ ]:
# # Propulsion code
# def propulsion_code_func(code):
#     if code == 1:
#         return "Petrol"
#     if code == 2:
#         return "Heavy oil"
#     if code == 3:
#         return "Electric"
#     if code == 8:
#         return "Hybrid electric"
#     else:
#         return "Unknown"


# DF['propulsion_code'] = DF['propulsion_code'].apply(propulsion_code_func)

In [ ]:
# # Casualty class

# def cas_class(classes):
#     if classes == 1:
#         return "Driver or rider"
#     if classes == 2:
#         return "Passenger"
#     if classes == 3:
#         return "Pedestrian"


# DF['casualty_class'] = DF['casualty_class'].apply(cas_class)

In [ ]:
# # Sex of casualty

# def casualty_sex(gender):
#     if gender == 1:
#         return "Male"
#     if gender == 2:
#         return "Female"
#     else:
#         return "Unknown"


# DF['sex_of_casualty'] = DF['sex_of_casualty'].apply(casualty_sex)

In [ ]:
# # Casualty severity

# def cas_severity(severity):
#     if severity == 1:
#         return "Fatal"
#     if severity == 2:
#         return "Serious"
#     if severity == 3:
#         return "Slight"


# DF['casualty_severity'] = DF['casualty_severity'].apply(cas_severity)

In [ ]:
# # Accident severity

# def cas_class(classes):
#     if classes == 1:
#         return "Driver or rider"
#     if classes == 2:
#         return "Passenger"
#     if classes == 3:
#         return "Pedestrian"


# DF['casualty_class'] = DF['casualty_class'].apply(cas_class)

In [ ]:
# # Day of the week

# def week_day(day):
#     if day == 1:
#         return "Sun"
#     if day == 2:
#         return "Mon"
#     if day == 3:
#         return "Tue"
#     if day == 4:
#         return "Wed"
#     if day == 5:
#         return "Thu"
#     if day == 6:
#         return "Fri"
#     if day == 7:
#         return "Sat"
#     else:
#         return "Unknown"


# DF['day_of_week'] = DF['day_of_week'].apply(week_day)

In [ ]:
# # Light conditions

# def light_condition(light):
#     if light == 1:
#         return "Daylight"
#     if light == 4:
#         return "Darkness, lights lit"
#     if light == 5:
#         return "Darkness, lights unlit"
#     if light == 6:
#         return "Darkness, no lighting"
#     if light == 7:
#         return "Darkness, lighting unknown"
#     else:
#         return "Unknown"


# DF['light_conditions'] = DF['light_conditions'].apply(light_condition)

In [ ]:
# # Weather conditions

# def weather_condition(weather):
#     if weather == 1:
#         return "Fine, no high winds"
#     if weather == 2:
#         return "Raining, no high winds"
#     if weather == 3:
#         return "Snowing, no high winds"
#     if weather == 4:
#         return "Fine, high winds"
#     if weather == 5:
#         return "Raining, high winds"
#     if weather == 6:
#         return "Snowing, high winds"
#     if weather == 7:
#         return "Fog/Mist"
#     else:
#         return "Unknown"


# DF['weather_conditions'] = DF['weather_conditions'].apply(weather_condition)

In [ ]:
# DF.road_surface_conditions.value_counts()

In [ ]:
# # Road surface conditions
# def surface_condition(surface):
#     if surface == 1:
#         return "Dry"
#     if surface == 2:
#         return "Wet/Damp"
#     if surface == 3:
#         return "Snow"
#     if surface == 4:
#         return "Frost/Ice"
#     if surface == 5:
#         return "Flood (3cm >)"
#     else:
#         return "Unknown"


# DF['road_surface_conditions'] = DF['road_surface_conditions'].apply(surface_condition)

In [ ]:
# # Urban or rural area

# def urban_or_rural(type):
#     if type == 1:
#         return "Urban"
#     if type == 2:
#         return "Rural"
#     else:
#         return "Unallocated"


# DF['urban_or_rural_area'] = DF['urban_or_rural_area'].apply(urban_or_rural)